html, body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #363636;
  color: white;
  overflow: hidden;
}

a {
  color: white;
}

#app {
  position: relative;
  height: 100%;
  width: 65%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 35%;
  margin: 0;
  padding: 0;
  background-color: #252525;
  border-left: solid 1px black;
}

.slide-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;

  .mode-control {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
    height: 50px;
    width: 800px;
    padding: 0 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
    color: white;
    pointer-events: all;

    a {
      margin-right: 30px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .navigate-control {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 60px;
    background-color: black;
    color: white;
    font-size: 38px;
    pointer-events: all;
    cursor: pointer;

    &.right {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    &.left {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    &:hover {
      background-color: darkslategray;
      font-weight: bolder;
    }
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  user-select: none;
}

.sidebar-title {
  margin: 0;
  width: calc(100% - 14px);
  padding: 4px 0;
  padding-left: 10px;
  border: solid 2px gray;
}

.sidebar-content {
  display: flex;
  position: relative;
  flex-direction: column;
  width: calc(100% - 20px);
  height: 100%;
  padding: 10px;
  overflow: auto;

  .item {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background: black;
    margin-bottom: 5px;
    padding: 5px;
    
    &:hover {
      background-color: darkslategray;
    }

    &.font-color {
      .compact-picker {
        width: 100% !important;
      }
  
      & > div {
        input, span {
          color: white !important;
        }
      }
  
      & > div > div {
        background: transparent !important;
        box-shadow: none !important;
        color: white !important;
      }
    }

    img {
      width: calc(100% - 20px);
      height: auto;
      margin: 10px;
      cursor: pointer;

      &:hover, &.selected {
        margin: 2px;
        border: solid 8px darkslategray;
        opacity: 0.5;
      }

      &.empty {
        opacity: 0;
      }
    }

    span {
      margin-right: 15px;
    }

    .text {
      display: flex;
      align-items: center;
      height: 100%;
      white-space: pre;
      max-width: 90ch;
      overflow: hidden;
    }

    span.selected, span.empty {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 30px;
    }

    span.empty {
      width: calc(100% - 20px);
      margin: 10px;
      background: rgba(0, 0, 0, 0.2);

      &:hover {
        background: rgba(47, 79, 79, 0.2);
        cursor: pointer;
      }
    }

    .actions {
      display: flex;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      width: 40%;
      margin-left: auto;

      button {
        height: 32px;
        width: 90px;
        margin-left: 5px;
        background: black;
        color: white;
        border: solid 1px white;
        border-radius: 10%;
        cursor: pointer;
        outline: 0;

        &:hover {
          background: darkslategray;
        }

        &.green {
          background: darkgreen;

          &:hover {
            background: green;
          }
        }

        &.red {
          background: darkred;

          &:hover {
            background: red;
          }
        }
      }
    }

    .actions.font-size {
      button {
        width: 32px;
        font-weight: 500;
        font-size: larger;
        border-radius: 30%;
      }
    }
  }
}

.modal-background {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  .modal {
    width: 760px;
    height: 470px;
    padding: 20px;
    border-radius: 20px;
    background-color: #363636;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);

    .modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .warn {
        color: red;
      }

      .ReactCrop__image {
        max-width: 700px;
        max-height: 400px;
      }

      .actions {
        button {
          height: 42px;
          width: 100px;
          margin-top: 20px;
          background: black;
          color: white;
          border: none;
          border-radius: 10%;
          cursor: pointer;
          outline: 0;
  
          &:hover {
            background: darkslategray;
          }
        }
      }

      .dropzone {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border: dashed 1px white;
      }
    }
  }
}
